<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="display-4 text-center">Ocene sortirane po datumu</h1>
        <hr />
      </div>
      <div class="col-md-8">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Student_id</th>
              <th scope="col">Zadatak_id</th>
              <th scope="col">Ocena</th>
              <th scope="col">Datum ocene</th>
            </tr>
          </thead>
          <tbody ng-repeat="ocena in ctrl.ocene">
            <tr>
              <td>{{ocena.student_id}}</td>
              <td>{{ocena.zadatak_id}}</td>
              <td>{{ocena.ocena}}</td>
              <td>{{ocena.datum_ocene}}</td>
            </tr>
          </tbody>
        </table>
        <hr />
      </div>
      <div class="col-md-12">
        <h1 class="display-4 text-center">Ocene sortirane po studentima</h1>
        <hr />
      </div>
      <div class="col-md-8" ng-submit="ctrl.wrapperFunction()">
        <table class="table table-sm" >
          <thead>
            <tr>
              <th scope="col">Student_id</th>
              <th scope="col">Zadatak_id</th>
              <th scope="col">Ocena</th>
              <th scope="col">Datum ocene</th>
            </tr>
          </thead>
          <tbody ng-repeat="ocena in ctrl.ocene">
            <tr>
              <td>{{ocena.student_id}}</td>
              <td>{{ocena.zadatak_id}}</td>
              <td>{{ocena.ocena}}</td>
              <td>{{ocena.datum_ocene}}</td>
            </tr>
          </tbody>
        </table>
        <hr />
      </div>
    </div>
  </div>