<div class="row">
    <div class="col-md-12">
      <h1 class="display-4 text-center">Unos Ocena</h1>
    </div>
    <div class="col-12">
      <form ng-submit="ctrl.unosOcena()" name="unosOcena">
        <div class="form-group">
            <label for="student_id">Student</label>
            <select
              name="student_id"
              id="student_id"
              ng-model="ctrl.novaOcena.student_id"
            >
              <option ng-repeat="student in ctrl.students" value="{{student.id}}"
                >{{student.indeks}} {{student.ime}} {{student.prezime}}</option
              >
            </select>
        </div>
        <div class="form-group">
            <label for="zadatak_id">Zadatak</label>
            <select
              name="zadatak_id"
              id="zadatak_id"
              ng-model="ctrl.novaOcena.zadatak_id"
            >
              <option ng-repeat="zadatak in ctrl.zadaci" value="{{zadatak.id}}"
                >{{zadatak.naslov}}</option
              >
            </select>
        </div>
        <div class="form-group">
          <label for="ocena">Ocena</label>
          <input
            type="number"
            min="5"
            max="10"
            name="ocena"
            id="ocena"
            class="form-control"
            ng-model="ctrl.novaOcena.ocena"
            required
          />
        </div>
        <div class="form-group">
            <label for="datum_ocene">Datum</label>
            <input
              type="date"
              name="datum_ocene"
              id="datum_ocene"
              class="form-control"
              ng-model="ctrl.novaOcena.datum_ocene"
              required
            />
          </div>
        <div class="form-group">
          <input type="submit" value="Prosledi ocenu" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
  