<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="display-4 text-center    ">Zadaci</h1>
      <hr />
    </div>
    <div class="col-md-8">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Naslov</th>
            <th scope="col">Predmet</th>
            <th scope="col">Sadrzaj</th>
            <th scope="col">Datum Provjere</th>
            <th scope="col">Izmijeni Podatke</th>
            <th scope="col">Obriši</th>
          </tr>
        </thead>
        <tbody ng-repeat="zadatak in ctrl.zadaci">
          <tr>
            <td>{{zadatak.naslov}}</td>
            <td>{{zadatak.predmet_id}}</td>
            <td>{{zadatak.sadrzaj}}</td>
            <td>{{zadatak.datum_provere}}</td>
            <td>
              <a ui-sref="updatePredmeta({id:predmet.id})">Izmijeni Podatke</a>
            </td>
            <td>
              <div class="row">
                <div class="col">
                  <button
                    ng-click="ctrl.obrisiZadatak(zadatak['id'])"
                    class="btn btn-danger btn-sm"
                  >
                    <span>Obriši Predmet &times</span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
    </div>
  </div>
</div>